:root{
    --azure: #8ac6ff;
    --primary: #00478a;
    --secondary: #0064c2;
    --white: #fff;

}

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    background-color: var(--azure);
}

/* menu */
header{
    display: flex;
    justify-content: center;
    min-height: 200px;
    width: 100%;
    background-color: var(--azure);
    border-bottom: solid 5px var(--primary);
    /* Sticky header
    position: fixed;
    top: 0;
    z-index: 99; 
    */
}
/* general */
.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5.31rem 7.44rem 5.31rem 7.44rem;

}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

header ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2.25rem;
}

/* content */


.cta-box{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14px;
padding: 4rem 3rem 4rem 3rem;
flex: none;
order: 0;
flex-grow: 0;
margin: 5rem 0rem;

box-sizing: border-box;
border: 0.19rem solid var(--primary);
box-shadow: 0.25rem 0.25rem 0rem 0rem var(--primary);
background: var(--white);
}

.services-box{
display: flex;
width: 50vw;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 1rem 3rem 1rem 3rem;
flex: none;
order: 1;
flex-grow: 0;
margin: 5rem 0rem;

box-sizing: border-box;
border: 0.19rem solid rgb(0, 71, 138);
box-shadow: 0.25rem 0.25rem 0rem 0rem rgb(0, 71, 138);
background: rgb(255, 255, 255);
}

.about-box{
display: flex;
width: 50vw;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 14;
padding: 1rem 3rem 1rem 3rem;
flex: none;
order: 2;
flex-grow: 0;
margin: 5rem 0rem;

box-sizing: border-box;
border: 0.19rem solid rgb(0, 71, 138);
box-shadow: 0.25rem 0.25rem 0rem 0rem rgb(0, 71, 138);
background: rgb(255, 255, 255);
}

.about-box-internal{
display: flex;
width: 80%;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 14;
padding: 0rem;
flex: none;
order: 1;
flex-grow: 0;
margin: 0rem 14rem;
}

.about-box-image{
position: static;
width: 18.75rem;
height: 23.21rem;
flex: none;
order: 0;
flex-grow: 0;
margin: 0rem 14rem;
}


/* button */
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 5rem;
}

button{
    width: 16rem;
    height: 4rem;
    font-family: "Dela Gothic One", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 2.5rem;
    border: solid 3px var(--primary);
}

/* footer */
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    gap: 3rem;
}

footer ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2.25rem;
    list-style: none;
}

/* typography */
.menu__items li{
    font-family: "Dela Gothic One", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    letter-spacing: -0.025rem;
    margin: 0 0 .5rem 0; 
    list-style-type: none;
    color: var(--primary);
}

.menu__items a:link{
    color: var(--primary);
    text-decoration: none;
}

.menu__items a:focus{
    color: var(--primary);
}

h1 {
    font-family: "Dela Gothic One", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    letter-spacing: -0.025rem;
    margin: 0 0 .5rem 0;
    color: var(--primary);
}


h2 {
    font-family:"Work Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem
}

h3 {
    font-family:"Work Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem
}

h4 {
    font-size: .8rem
}

h5 {
    font-size: .6rem
}

h6 {
    font-size: .6rem
}

p, .services-box__list-element{
    font-family:"Work Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.375rem;
    line-height: 1.375;
    font-weight: 400;
    color: var(--primary);
}